.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1vmin;
  color: white;
  padding: 2vmin 2rem;
}

.exercise-card {
  height: 50vh;
  margin-top: 3vh;
  padding: 15px 30px;
  text-align: center;
  width: 50vh;
}

.options-card {
  justify-content: center;
  text-align: center;
  margin-top: 3vh;
  padding: 15px;
}
.video-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
}
